/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SecurityManagementApiKeysPrincipalsEncryptionAPIService SecurityManagementApiKeysPrincipalsEncryptionAPI service
type SecurityManagementApiKeysPrincipalsEncryptionAPIService service

type ApiUpdateApikeysEncryptionReEncryptRequest struct {
	ctx context.Context
	ApiService *SecurityManagementApiKeysPrincipalsEncryptionAPIService
	apiKeysReEncryptionRequestApiXO *ApiKeysReEncryptionRequestApiXO
}

func (r ApiUpdateApikeysEncryptionReEncryptRequest) ApiKeysReEncryptionRequestApiXO(apiKeysReEncryptionRequestApiXO ApiKeysReEncryptionRequestApiXO) ApiUpdateApikeysEncryptionReEncryptRequest {
	r.apiKeysReEncryptionRequestApiXO = &apiKeysReEncryptionRequestApiXO
	return r
}

func (r ApiUpdateApikeysEncryptionReEncryptRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateApikeysEncryptionReEncryptExecute(r)
}

/*
UpdateApikeysEncryptionReEncrypt Re-encrypt api keys principals using the specified configuration

Ensure all nodes have access to the key, and they use the same key

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateApikeysEncryptionReEncryptRequest
*/
func (a *SecurityManagementApiKeysPrincipalsEncryptionAPIService) UpdateApikeysEncryptionReEncrypt(ctx context.Context) ApiUpdateApikeysEncryptionReEncryptRequest {
	return ApiUpdateApikeysEncryptionReEncryptRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SecurityManagementApiKeysPrincipalsEncryptionAPIService) UpdateApikeysEncryptionReEncryptExecute(r ApiUpdateApikeysEncryptionReEncryptRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecurityManagementApiKeysPrincipalsEncryptionAPIService.UpdateApikeysEncryptionReEncrypt")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apikeys/encryption/re-encrypt"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiKeysReEncryptionRequestApiXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
