/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// MaliciousRiskOnDiskAPIService MaliciousRiskOnDiskAPI service
type MaliciousRiskOnDiskAPIService service

type ApiListMaliciousRiskEnabledRegistriesRequest struct {
	ctx context.Context
	ApiService *MaliciousRiskOnDiskAPIService
}

func (r ApiListMaliciousRiskEnabledRegistriesRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListMaliciousRiskEnabledRegistriesExecute(r)
}

/*
ListMaliciousRiskEnabledRegistries Get RHC Enabled registries for malicious risk scanning.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMaliciousRiskEnabledRegistriesRequest
*/
func (a *MaliciousRiskOnDiskAPIService) ListMaliciousRiskEnabledRegistries(ctx context.Context) ApiListMaliciousRiskEnabledRegistriesRequest {
	return ApiListMaliciousRiskEnabledRegistriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MaliciousRiskOnDiskAPIService) ListMaliciousRiskEnabledRegistriesExecute(r ApiListMaliciousRiskEnabledRegistriesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MaliciousRiskOnDiskAPIService.ListMaliciousRiskEnabledRegistries")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/malicious-risk/enabledRegistries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListMaliciousRiskRiskOnDiskRequest struct {
	ctx context.Context
	ApiService *MaliciousRiskOnDiskAPIService
}

func (r ApiListMaliciousRiskRiskOnDiskRequest) Execute() (*http.Response, error) {
	return r.ApiService.ListMaliciousRiskRiskOnDiskExecute(r)
}

/*
ListMaliciousRiskRiskOnDisk Get Malicious Risk On Disk Count

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMaliciousRiskRiskOnDiskRequest
*/
func (a *MaliciousRiskOnDiskAPIService) ListMaliciousRiskRiskOnDisk(ctx context.Context) ApiListMaliciousRiskRiskOnDiskRequest {
	return ApiListMaliciousRiskRiskOnDiskRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *MaliciousRiskOnDiskAPIService) ListMaliciousRiskRiskOnDiskExecute(r ApiListMaliciousRiskRiskOnDiskRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MaliciousRiskOnDiskAPIService.ListMaliciousRiskRiskOnDisk")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/malicious-risk/risk-on-disk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
