/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SupportAPIService SupportAPI service
type SupportAPIService service

type ApiCreateSupportSupportzipRequest struct {
	ctx context.Context
	ApiService *SupportAPIService
	supportZipGeneratorRequest *SupportZipGeneratorRequest
}

func (r ApiCreateSupportSupportzipRequest) SupportZipGeneratorRequest(supportZipGeneratorRequest SupportZipGeneratorRequest) ApiCreateSupportSupportzipRequest {
	r.supportZipGeneratorRequest = &supportZipGeneratorRequest
	return r
}

func (r ApiCreateSupportSupportzipRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSupportSupportzipExecute(r)
}

/*
CreateSupportSupportzip Creates and downloads a support zip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSupportSupportzipRequest
*/
func (a *SupportAPIService) CreateSupportSupportzip(ctx context.Context) ApiCreateSupportSupportzipRequest {
	return ApiCreateSupportSupportzipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SupportAPIService) CreateSupportSupportzipExecute(r ApiCreateSupportSupportzipRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportAPIService.CreateSupportSupportzip")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/support/supportzip"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.supportZipGeneratorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateSupportSupportzippathRequest struct {
	ctx context.Context
	ApiService *SupportAPIService
	supportZipGeneratorRequest *SupportZipGeneratorRequest
}

func (r ApiCreateSupportSupportzippathRequest) SupportZipGeneratorRequest(supportZipGeneratorRequest SupportZipGeneratorRequest) ApiCreateSupportSupportzippathRequest {
	r.supportZipGeneratorRequest = &supportZipGeneratorRequest
	return r
}

func (r ApiCreateSupportSupportzippathRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateSupportSupportzippathExecute(r)
}

/*
CreateSupportSupportzippath Creates a support zip and returns the path

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSupportSupportzippathRequest
*/
func (a *SupportAPIService) CreateSupportSupportzippath(ctx context.Context) ApiCreateSupportSupportzippathRequest {
	return ApiCreateSupportSupportzippathRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SupportAPIService) CreateSupportSupportzippathExecute(r ApiCreateSupportSupportzippathRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportAPIService.CreateSupportSupportzippath")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/support/supportzippath"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.supportZipGeneratorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
