/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.96.0-09.

API version: 3.96.0-09
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v395

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SecurityManagementSAMLUsersV2APIService SecurityManagementSAMLUsersV2API service
type SecurityManagementSAMLUsersV2APIService service

type ApiListSecuritySamlUsersV2Request struct {
	ctx context.Context
	ApiService *SecurityManagementSAMLUsersV2APIService
	userId *string
	continuationToken *string
}

// An optional term to search userids for.
func (r ApiListSecuritySamlUsersV2Request) UserId(userId string) ApiListSecuritySamlUsersV2Request {
	r.userId = &userId
	return r
}

// A token returned by a prior request. Use this to get the next page of results. Omit the parameter to retrieve the first page; supplying it with an empty value is rejected.
func (r ApiListSecuritySamlUsersV2Request) ContinuationToken(continuationToken string) ApiListSecuritySamlUsersV2Request {
	r.continuationToken = &continuationToken
	return r
}

func (r ApiListSecuritySamlUsersV2Request) Execute() (*http.Response, error) {
	return r.ApiService.ListSecuritySamlUsersV2Execute(r)
}

/*
ListSecuritySamlUsersV2 Retrieve a paginated list of SAML users.

Returns SAML users in pages of 100, ordered by userid. When a further page is available the response carries a continuationToken; pass it back on the next request to retrieve that page. A response without a continuationToken is the last page. Offsets beyond 100,000 are rejected.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSecuritySamlUsersV2Request
*/
func (a *SecurityManagementSAMLUsersV2APIService) ListSecuritySamlUsersV2(ctx context.Context) ApiListSecuritySamlUsersV2Request {
	return ApiListSecuritySamlUsersV2Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SecurityManagementSAMLUsersV2APIService) ListSecuritySamlUsersV2Execute(r ApiListSecuritySamlUsersV2Request) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecurityManagementSAMLUsersV2APIService.ListSecuritySamlUsersV2")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/security/saml/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuationToken", r.continuationToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
