/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AzureBlobStoreAPIService AzureBlobStoreAPI service
type AzureBlobStoreAPIService service

type ApiCreateAzureblobstoreTestConnectionRequest struct {
	ctx context.Context
	ApiService *AzureBlobStoreAPIService
	azureConnectionXO *AzureConnectionXO
}

func (r ApiCreateAzureblobstoreTestConnectionRequest) AzureConnectionXO(azureConnectionXO AzureConnectionXO) ApiCreateAzureblobstoreTestConnectionRequest {
	r.azureConnectionXO = &azureConnectionXO
	return r
}

func (r ApiCreateAzureblobstoreTestConnectionRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateAzureblobstoreTestConnectionExecute(r)
}

/*
CreateAzureblobstoreTestConnection Verify connection using supplied Azure Blob Store settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAzureblobstoreTestConnectionRequest
*/
func (a *AzureBlobStoreAPIService) CreateAzureblobstoreTestConnection(ctx context.Context) ApiCreateAzureblobstoreTestConnectionRequest {
	return ApiCreateAzureblobstoreTestConnectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AzureBlobStoreAPIService) CreateAzureblobstoreTestConnectionExecute(r ApiCreateAzureblobstoreTestConnectionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AzureBlobStoreAPIService.CreateAzureblobstoreTestConnection")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/azureblobstore/test-connection"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.azureConnectionXO == nil {
		return nil, reportError("azureConnectionXO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.azureConnectionXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
