/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TagsAPIService TagsAPI service
type TagsAPIService service

type ApiCreateTagsRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	tagXO *TagXO
}

func (r ApiCreateTagsRequest) TagXO(tagXO TagXO) ApiCreateTagsRequest {
	r.tagXO = &tagXO
	return r
}

func (r ApiCreateTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTagsExecute(r)
}

/*
CreateTags Create a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTagsRequest
*/
func (a *TagsAPIService) CreateTags(ctx context.Context) ApiCreateTagsRequest {
	return ApiCreateTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TagsAPIService) CreateTagsExecute(r ApiCreateTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.CreateTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tagXO == nil {
		return nil, reportError("tagXO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tagXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateTagsAssociateRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	tagName string
	wait *bool
	q *string
	repository *string
	repositoryName *string
	format *string
	group *string
	name *string
	version *string
	prerelease *string
	lastUpdated *string
	lastBlobUpdated *string
	md5 *string
	sha1 *string
	sha256 *string
	sha512 *string
	ansibleGalaxyNamespace *string
	ansibleGalaxyName *string
	ansibleGalaxyVersion *string
	composerVendor *string
	composerPackage *string
	composerVersion *string
	composerDescription *string
	composerKeywords *string
	conanBaseVersion *string
	conanChannel *string
	conanRevision *string
	conanPackageId *string
	conanPackageRevision *string
	dockerImageName *string
	dockerImageTag *string
	dockerLayerId *string
	dockerContentDigest *string
	dockerOs *string
	dockerArchitecture *string
	dockerLabels *string
	dockerAuthor *string
	mavenGroupId *string
	mavenArtifactId *string
	mavenBaseVersion *string
	mavenExtension *string
	mavenClassifier *string
	gavec *string
	npmScope *string
	npmAuthor *string
	npmDescription *string
	npmKeywords *string
	npmLicense *string
	npmTaggedIs *string
	npmTaggedNot *string
	nugetId *string
	nugetTags *string
	nugetTitle *string
	nugetAuthors *string
	nugetDescription *string
	nugetSummary *string
	nugetIsPrerelease *string
	ociImageName *string
	ociImageTag *string
	ociContentDigest *string
	p2PluginName *string
	pubAssetKind *string
	pypiClassifiers *string
	pypiDescription *string
	pypiKeywords *string
	pypiSummary *string
	rubygemsDescription *string
	rubygemsPlatform *string
	rubygemsSummary *string
	swiftScope *string
	swiftAssetKind *string
	tag *string
	terraformProvider *string
	terraformNamespace *string
	terraformName *string
	yumArchitecture *string
	yumName *string
}

// The query waits until the indexing is complete
func (r ApiCreateTagsAssociateRequest) Wait(wait bool) ApiCreateTagsAssociateRequest {
	r.wait = &wait
	return r
}

// Query by keyword
func (r ApiCreateTagsAssociateRequest) Q(q string) ApiCreateTagsAssociateRequest {
	r.q = &q
	return r
}

// Repository name
func (r ApiCreateTagsAssociateRequest) Repository(repository string) ApiCreateTagsAssociateRequest {
	r.repository = &repository
	return r
}

// Repository name
func (r ApiCreateTagsAssociateRequest) RepositoryName(repositoryName string) ApiCreateTagsAssociateRequest {
	r.repositoryName = &repositoryName
	return r
}

// Query by format
func (r ApiCreateTagsAssociateRequest) Format(format string) ApiCreateTagsAssociateRequest {
	r.format = &format
	return r
}

// Component group
func (r ApiCreateTagsAssociateRequest) Group(group string) ApiCreateTagsAssociateRequest {
	r.group = &group
	return r
}

// Component name
func (r ApiCreateTagsAssociateRequest) Name(name string) ApiCreateTagsAssociateRequest {
	r.name = &name
	return r
}

// Component version
func (r ApiCreateTagsAssociateRequest) Version(version string) ApiCreateTagsAssociateRequest {
	r.version = &version
	return r
}

// Prerelease version flag
func (r ApiCreateTagsAssociateRequest) Prerelease(prerelease string) ApiCreateTagsAssociateRequest {
	r.prerelease = &prerelease
	return r
}

// Asset last modified time
func (r ApiCreateTagsAssociateRequest) LastUpdated(lastUpdated string) ApiCreateTagsAssociateRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// Asset last modified time (UI)
func (r ApiCreateTagsAssociateRequest) LastBlobUpdated(lastBlobUpdated string) ApiCreateTagsAssociateRequest {
	r.lastBlobUpdated = &lastBlobUpdated
	return r
}

// Specific MD5 hash of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) Md5(md5 string) ApiCreateTagsAssociateRequest {
	r.md5 = &md5
	return r
}

// Specific SHA-1 hash of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) Sha1(sha1 string) ApiCreateTagsAssociateRequest {
	r.sha1 = &sha1
	return r
}

// Specific SHA-256 hash of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) Sha256(sha256 string) ApiCreateTagsAssociateRequest {
	r.sha256 = &sha256
	return r
}

// Specific SHA-512 hash of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) Sha512(sha512 string) ApiCreateTagsAssociateRequest {
	r.sha512 = &sha512
	return r
}

// ansible-galaxy namespace
func (r ApiCreateTagsAssociateRequest) AnsibleGalaxyNamespace(ansibleGalaxyNamespace string) ApiCreateTagsAssociateRequest {
	r.ansibleGalaxyNamespace = &ansibleGalaxyNamespace
	return r
}

// ansible-galaxy name
func (r ApiCreateTagsAssociateRequest) AnsibleGalaxyName(ansibleGalaxyName string) ApiCreateTagsAssociateRequest {
	r.ansibleGalaxyName = &ansibleGalaxyName
	return r
}

// ansible-galaxy version
func (r ApiCreateTagsAssociateRequest) AnsibleGalaxyVersion(ansibleGalaxyVersion string) ApiCreateTagsAssociateRequest {
	r.ansibleGalaxyVersion = &ansibleGalaxyVersion
	return r
}

// Vendor
func (r ApiCreateTagsAssociateRequest) ComposerVendor(composerVendor string) ApiCreateTagsAssociateRequest {
	r.composerVendor = &composerVendor
	return r
}

// Package
func (r ApiCreateTagsAssociateRequest) ComposerPackage(composerPackage string) ApiCreateTagsAssociateRequest {
	r.composerPackage = &composerPackage
	return r
}

// Version
func (r ApiCreateTagsAssociateRequest) ComposerVersion(composerVersion string) ApiCreateTagsAssociateRequest {
	r.composerVersion = &composerVersion
	return r
}

// Composer Description
func (r ApiCreateTagsAssociateRequest) ComposerDescription(composerDescription string) ApiCreateTagsAssociateRequest {
	r.composerDescription = &composerDescription
	return r
}

// Composer Keywords
func (r ApiCreateTagsAssociateRequest) ComposerKeywords(composerKeywords string) ApiCreateTagsAssociateRequest {
	r.composerKeywords = &composerKeywords
	return r
}

// Conan base version
func (r ApiCreateTagsAssociateRequest) ConanBaseVersion(conanBaseVersion string) ApiCreateTagsAssociateRequest {
	r.conanBaseVersion = &conanBaseVersion
	return r
}

// Conan channel
func (r ApiCreateTagsAssociateRequest) ConanChannel(conanChannel string) ApiCreateTagsAssociateRequest {
	r.conanChannel = &conanChannel
	return r
}

// Conan recipe revision
func (r ApiCreateTagsAssociateRequest) ConanRevision(conanRevision string) ApiCreateTagsAssociateRequest {
	r.conanRevision = &conanRevision
	return r
}

// Conan package id
func (r ApiCreateTagsAssociateRequest) ConanPackageId(conanPackageId string) ApiCreateTagsAssociateRequest {
	r.conanPackageId = &conanPackageId
	return r
}

// Conan package revision
func (r ApiCreateTagsAssociateRequest) ConanPackageRevision(conanPackageRevision string) ApiCreateTagsAssociateRequest {
	r.conanPackageRevision = &conanPackageRevision
	return r
}

// Docker image name
func (r ApiCreateTagsAssociateRequest) DockerImageName(dockerImageName string) ApiCreateTagsAssociateRequest {
	r.dockerImageName = &dockerImageName
	return r
}

// Docker image tag
func (r ApiCreateTagsAssociateRequest) DockerImageTag(dockerImageTag string) ApiCreateTagsAssociateRequest {
	r.dockerImageTag = &dockerImageTag
	return r
}

// Docker layer ID
func (r ApiCreateTagsAssociateRequest) DockerLayerId(dockerLayerId string) ApiCreateTagsAssociateRequest {
	r.dockerLayerId = &dockerLayerId
	return r
}

// Docker content digest
func (r ApiCreateTagsAssociateRequest) DockerContentDigest(dockerContentDigest string) ApiCreateTagsAssociateRequest {
	r.dockerContentDigest = &dockerContentDigest
	return r
}

// Docker image OS
func (r ApiCreateTagsAssociateRequest) DockerOs(dockerOs string) ApiCreateTagsAssociateRequest {
	r.dockerOs = &dockerOs
	return r
}

// Docker image architecture
func (r ApiCreateTagsAssociateRequest) DockerArchitecture(dockerArchitecture string) ApiCreateTagsAssociateRequest {
	r.dockerArchitecture = &dockerArchitecture
	return r
}

// Docker image labels
func (r ApiCreateTagsAssociateRequest) DockerLabels(dockerLabels string) ApiCreateTagsAssociateRequest {
	r.dockerLabels = &dockerLabels
	return r
}

// Docker image author
func (r ApiCreateTagsAssociateRequest) DockerAuthor(dockerAuthor string) ApiCreateTagsAssociateRequest {
	r.dockerAuthor = &dockerAuthor
	return r
}

// Maven groupId
func (r ApiCreateTagsAssociateRequest) MavenGroupId(mavenGroupId string) ApiCreateTagsAssociateRequest {
	r.mavenGroupId = &mavenGroupId
	return r
}

// Maven artifactId
func (r ApiCreateTagsAssociateRequest) MavenArtifactId(mavenArtifactId string) ApiCreateTagsAssociateRequest {
	r.mavenArtifactId = &mavenArtifactId
	return r
}

// Maven base version
func (r ApiCreateTagsAssociateRequest) MavenBaseVersion(mavenBaseVersion string) ApiCreateTagsAssociateRequest {
	r.mavenBaseVersion = &mavenBaseVersion
	return r
}

// Maven extension of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) MavenExtension(mavenExtension string) ApiCreateTagsAssociateRequest {
	r.mavenExtension = &mavenExtension
	return r
}

// Maven classifier of component&#39;s asset
func (r ApiCreateTagsAssociateRequest) MavenClassifier(mavenClassifier string) ApiCreateTagsAssociateRequest {
	r.mavenClassifier = &mavenClassifier
	return r
}

// Group asset version extension classifier
func (r ApiCreateTagsAssociateRequest) Gavec(gavec string) ApiCreateTagsAssociateRequest {
	r.gavec = &gavec
	return r
}

// npm scope
func (r ApiCreateTagsAssociateRequest) NpmScope(npmScope string) ApiCreateTagsAssociateRequest {
	r.npmScope = &npmScope
	return r
}

// npm author
func (r ApiCreateTagsAssociateRequest) NpmAuthor(npmAuthor string) ApiCreateTagsAssociateRequest {
	r.npmAuthor = &npmAuthor
	return r
}

// npm description
func (r ApiCreateTagsAssociateRequest) NpmDescription(npmDescription string) ApiCreateTagsAssociateRequest {
	r.npmDescription = &npmDescription
	return r
}

// npm keywords
func (r ApiCreateTagsAssociateRequest) NpmKeywords(npmKeywords string) ApiCreateTagsAssociateRequest {
	r.npmKeywords = &npmKeywords
	return r
}

// npm license
func (r ApiCreateTagsAssociateRequest) NpmLicense(npmLicense string) ApiCreateTagsAssociateRequest {
	r.npmLicense = &npmLicense
	return r
}

// npm tagged is
func (r ApiCreateTagsAssociateRequest) NpmTaggedIs(npmTaggedIs string) ApiCreateTagsAssociateRequest {
	r.npmTaggedIs = &npmTaggedIs
	return r
}

// npm tagged not
func (r ApiCreateTagsAssociateRequest) NpmTaggedNot(npmTaggedNot string) ApiCreateTagsAssociateRequest {
	r.npmTaggedNot = &npmTaggedNot
	return r
}

// NuGet id
func (r ApiCreateTagsAssociateRequest) NugetId(nugetId string) ApiCreateTagsAssociateRequest {
	r.nugetId = &nugetId
	return r
}

// NuGet tags
func (r ApiCreateTagsAssociateRequest) NugetTags(nugetTags string) ApiCreateTagsAssociateRequest {
	r.nugetTags = &nugetTags
	return r
}

// NuGet title
func (r ApiCreateTagsAssociateRequest) NugetTitle(nugetTitle string) ApiCreateTagsAssociateRequest {
	r.nugetTitle = &nugetTitle
	return r
}

// NuGet authors
func (r ApiCreateTagsAssociateRequest) NugetAuthors(nugetAuthors string) ApiCreateTagsAssociateRequest {
	r.nugetAuthors = &nugetAuthors
	return r
}

// NuGet description
func (r ApiCreateTagsAssociateRequest) NugetDescription(nugetDescription string) ApiCreateTagsAssociateRequest {
	r.nugetDescription = &nugetDescription
	return r
}

// NuGet summary
func (r ApiCreateTagsAssociateRequest) NugetSummary(nugetSummary string) ApiCreateTagsAssociateRequest {
	r.nugetSummary = &nugetSummary
	return r
}

// NuGet prerelease
func (r ApiCreateTagsAssociateRequest) NugetIsPrerelease(nugetIsPrerelease string) ApiCreateTagsAssociateRequest {
	r.nugetIsPrerelease = &nugetIsPrerelease
	return r
}

// OCI image name
func (r ApiCreateTagsAssociateRequest) OciImageName(ociImageName string) ApiCreateTagsAssociateRequest {
	r.ociImageName = &ociImageName
	return r
}

// OCI image tag
func (r ApiCreateTagsAssociateRequest) OciImageTag(ociImageTag string) ApiCreateTagsAssociateRequest {
	r.ociImageTag = &ociImageTag
	return r
}

// OCI content digest
func (r ApiCreateTagsAssociateRequest) OciContentDigest(ociContentDigest string) ApiCreateTagsAssociateRequest {
	r.ociContentDigest = &ociContentDigest
	return r
}

// p2 plugin name
func (r ApiCreateTagsAssociateRequest) P2PluginName(p2PluginName string) ApiCreateTagsAssociateRequest {
	r.p2PluginName = &p2PluginName
	return r
}

// Pub asset kind (PACKAGE, PACKAGE_METADATA, VERSION_METADATA, ADVISORIES)
func (r ApiCreateTagsAssociateRequest) PubAssetKind(pubAssetKind string) ApiCreateTagsAssociateRequest {
	r.pubAssetKind = &pubAssetKind
	return r
}

// PyPI classifiers
func (r ApiCreateTagsAssociateRequest) PypiClassifiers(pypiClassifiers string) ApiCreateTagsAssociateRequest {
	r.pypiClassifiers = &pypiClassifiers
	return r
}

// PyPI description
func (r ApiCreateTagsAssociateRequest) PypiDescription(pypiDescription string) ApiCreateTagsAssociateRequest {
	r.pypiDescription = &pypiDescription
	return r
}

// PyPI keywords
func (r ApiCreateTagsAssociateRequest) PypiKeywords(pypiKeywords string) ApiCreateTagsAssociateRequest {
	r.pypiKeywords = &pypiKeywords
	return r
}

// PyPI summary
func (r ApiCreateTagsAssociateRequest) PypiSummary(pypiSummary string) ApiCreateTagsAssociateRequest {
	r.pypiSummary = &pypiSummary
	return r
}

// RubyGems description
func (r ApiCreateTagsAssociateRequest) RubygemsDescription(rubygemsDescription string) ApiCreateTagsAssociateRequest {
	r.rubygemsDescription = &rubygemsDescription
	return r
}

// RubyGems platform
func (r ApiCreateTagsAssociateRequest) RubygemsPlatform(rubygemsPlatform string) ApiCreateTagsAssociateRequest {
	r.rubygemsPlatform = &rubygemsPlatform
	return r
}

// RubyGems summary
func (r ApiCreateTagsAssociateRequest) RubygemsSummary(rubygemsSummary string) ApiCreateTagsAssociateRequest {
	r.rubygemsSummary = &rubygemsSummary
	return r
}

// swift scope
func (r ApiCreateTagsAssociateRequest) SwiftScope(swiftScope string) ApiCreateTagsAssociateRequest {
	r.swiftScope = &swiftScope
	return r
}

// swift asset kind
func (r ApiCreateTagsAssociateRequest) SwiftAssetKind(swiftAssetKind string) ApiCreateTagsAssociateRequest {
	r.swiftAssetKind = &swiftAssetKind
	return r
}

// Component tag
func (r ApiCreateTagsAssociateRequest) Tag(tag string) ApiCreateTagsAssociateRequest {
	r.tag = &tag
	return r
}

// terraform provider
func (r ApiCreateTagsAssociateRequest) TerraformProvider(terraformProvider string) ApiCreateTagsAssociateRequest {
	r.terraformProvider = &terraformProvider
	return r
}

// terraform namespace
func (r ApiCreateTagsAssociateRequest) TerraformNamespace(terraformNamespace string) ApiCreateTagsAssociateRequest {
	r.terraformNamespace = &terraformNamespace
	return r
}

// terraform name
func (r ApiCreateTagsAssociateRequest) TerraformName(terraformName string) ApiCreateTagsAssociateRequest {
	r.terraformName = &terraformName
	return r
}

// Yum architecture
func (r ApiCreateTagsAssociateRequest) YumArchitecture(yumArchitecture string) ApiCreateTagsAssociateRequest {
	r.yumArchitecture = &yumArchitecture
	return r
}

// Yum package name
func (r ApiCreateTagsAssociateRequest) YumName(yumName string) ApiCreateTagsAssociateRequest {
	r.yumName = &yumName
	return r
}

func (r ApiCreateTagsAssociateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateTagsAssociateExecute(r)
}

/*
CreateTagsAssociate Associate components with a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tagName Tag to associate to the matched components
 @return ApiCreateTagsAssociateRequest
*/
func (a *TagsAPIService) CreateTagsAssociate(ctx context.Context, tagName string) ApiCreateTagsAssociateRequest {
	return ApiCreateTagsAssociateRequest{
		ApiService: a,
		ctx: ctx,
		tagName: tagName,
	}
}

// Execute executes the request
func (a *TagsAPIService) CreateTagsAssociateExecute(r ApiCreateTagsAssociateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.CreateTagsAssociate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags/associate/{tagName}"
	localVarPath = strings.Replace(localVarPath, "{"+"tagName"+"}", url.PathEscape(parameterValueToString(r.tagName, "tagName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.wait != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wait", r.wait, "form", "")
	} else {
		var defaultValue bool = true
		r.wait = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repositoryName", r.repositoryName, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.prerelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prerelease", r.prerelease, "form", "")
	}
	if r.lastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_updated", r.lastUpdated, "form", "")
	}
	if r.lastBlobUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastBlobUpdated", r.lastBlobUpdated, "form", "")
	}
	if r.md5 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "md5", r.md5, "form", "")
	}
	if r.sha1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha1", r.sha1, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.sha512 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha512", r.sha512, "form", "")
	}
	if r.ansibleGalaxyNamespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.namespace", r.ansibleGalaxyNamespace, "form", "")
	}
	if r.ansibleGalaxyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.name", r.ansibleGalaxyName, "form", "")
	}
	if r.ansibleGalaxyVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.version", r.ansibleGalaxyVersion, "form", "")
	}
	if r.composerVendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.vendor", r.composerVendor, "form", "")
	}
	if r.composerPackage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.package", r.composerPackage, "form", "")
	}
	if r.composerVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.version", r.composerVersion, "form", "")
	}
	if r.composerDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.description", r.composerDescription, "form", "")
	}
	if r.composerKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.keywords", r.composerKeywords, "form", "")
	}
	if r.conanBaseVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.baseVersion", r.conanBaseVersion, "form", "")
	}
	if r.conanChannel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.channel", r.conanChannel, "form", "")
	}
	if r.conanRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.revision", r.conanRevision, "form", "")
	}
	if r.conanPackageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.packageId", r.conanPackageId, "form", "")
	}
	if r.conanPackageRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.packageRevision", r.conanPackageRevision, "form", "")
	}
	if r.dockerImageName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.imageName", r.dockerImageName, "form", "")
	}
	if r.dockerImageTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.imageTag", r.dockerImageTag, "form", "")
	}
	if r.dockerLayerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.layerId", r.dockerLayerId, "form", "")
	}
	if r.dockerContentDigest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.contentDigest", r.dockerContentDigest, "form", "")
	}
	if r.dockerOs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.os", r.dockerOs, "form", "")
	}
	if r.dockerArchitecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.architecture", r.dockerArchitecture, "form", "")
	}
	if r.dockerLabels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.labels", r.dockerLabels, "form", "")
	}
	if r.dockerAuthor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.author", r.dockerAuthor, "form", "")
	}
	if r.mavenGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.groupId", r.mavenGroupId, "form", "")
	}
	if r.mavenArtifactId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.artifactId", r.mavenArtifactId, "form", "")
	}
	if r.mavenBaseVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.baseVersion", r.mavenBaseVersion, "form", "")
	}
	if r.mavenExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.extension", r.mavenExtension, "form", "")
	}
	if r.mavenClassifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.classifier", r.mavenClassifier, "form", "")
	}
	if r.gavec != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gavec", r.gavec, "form", "")
	}
	if r.npmScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.scope", r.npmScope, "form", "")
	}
	if r.npmAuthor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.author", r.npmAuthor, "form", "")
	}
	if r.npmDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.description", r.npmDescription, "form", "")
	}
	if r.npmKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.keywords", r.npmKeywords, "form", "")
	}
	if r.npmLicense != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.license", r.npmLicense, "form", "")
	}
	if r.npmTaggedIs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.tagged_is", r.npmTaggedIs, "form", "")
	}
	if r.npmTaggedNot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.tagged_not", r.npmTaggedNot, "form", "")
	}
	if r.nugetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.id", r.nugetId, "form", "")
	}
	if r.nugetTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.tags", r.nugetTags, "form", "")
	}
	if r.nugetTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.title", r.nugetTitle, "form", "")
	}
	if r.nugetAuthors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.authors", r.nugetAuthors, "form", "")
	}
	if r.nugetDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.description", r.nugetDescription, "form", "")
	}
	if r.nugetSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.summary", r.nugetSummary, "form", "")
	}
	if r.nugetIsPrerelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.is_prerelease", r.nugetIsPrerelease, "form", "")
	}
	if r.ociImageName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.imageName", r.ociImageName, "form", "")
	}
	if r.ociImageTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.imageTag", r.ociImageTag, "form", "")
	}
	if r.ociContentDigest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.contentDigest", r.ociContentDigest, "form", "")
	}
	if r.p2PluginName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p2.pluginName", r.p2PluginName, "form", "")
	}
	if r.pubAssetKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pub.asset_kind", r.pubAssetKind, "form", "")
	}
	if r.pypiClassifiers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.classifiers", r.pypiClassifiers, "form", "")
	}
	if r.pypiDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.description", r.pypiDescription, "form", "")
	}
	if r.pypiKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.keywords", r.pypiKeywords, "form", "")
	}
	if r.pypiSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.summary", r.pypiSummary, "form", "")
	}
	if r.rubygemsDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.description", r.rubygemsDescription, "form", "")
	}
	if r.rubygemsPlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.platform", r.rubygemsPlatform, "form", "")
	}
	if r.rubygemsSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.summary", r.rubygemsSummary, "form", "")
	}
	if r.swiftScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swift.scope", r.swiftScope, "form", "")
	}
	if r.swiftAssetKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swift.asset_kind", r.swiftAssetKind, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.terraformProvider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.provider", r.terraformProvider, "form", "")
	}
	if r.terraformNamespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.namespace", r.terraformNamespace, "form", "")
	}
	if r.terraformName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.name", r.terraformName, "form", "")
	}
	if r.yumArchitecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "yum.architecture", r.yumArchitecture, "form", "")
	}
	if r.yumName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "yum.name", r.yumName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteTagsRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	name string
}

func (r ApiDeleteTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTagsExecute(r)
}

/*
DeleteTags Delete a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Name of the tag to delete
 @return ApiDeleteTagsRequest
*/
func (a *TagsAPIService) DeleteTags(ctx context.Context, name string) ApiDeleteTagsRequest {
	return ApiDeleteTagsRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
func (a *TagsAPIService) DeleteTagsExecute(r ApiDeleteTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.DeleteTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteTagsAssociateRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	tagName string
	wait *bool
	q *string
	repository *string
	repositoryName *string
	format *string
	group *string
	name *string
	version *string
	prerelease *string
	lastUpdated *string
	lastBlobUpdated *string
	md5 *string
	sha1 *string
	sha256 *string
	sha512 *string
	ansibleGalaxyNamespace *string
	ansibleGalaxyName *string
	ansibleGalaxyVersion *string
	composerVendor *string
	composerPackage *string
	composerVersion *string
	composerDescription *string
	composerKeywords *string
	conanBaseVersion *string
	conanChannel *string
	conanRevision *string
	conanPackageId *string
	conanPackageRevision *string
	dockerImageName *string
	dockerImageTag *string
	dockerLayerId *string
	dockerContentDigest *string
	dockerOs *string
	dockerArchitecture *string
	dockerLabels *string
	dockerAuthor *string
	mavenGroupId *string
	mavenArtifactId *string
	mavenBaseVersion *string
	mavenExtension *string
	mavenClassifier *string
	gavec *string
	npmScope *string
	npmAuthor *string
	npmDescription *string
	npmKeywords *string
	npmLicense *string
	npmTaggedIs *string
	npmTaggedNot *string
	nugetId *string
	nugetTags *string
	nugetTitle *string
	nugetAuthors *string
	nugetDescription *string
	nugetSummary *string
	nugetIsPrerelease *string
	ociImageName *string
	ociImageTag *string
	ociContentDigest *string
	p2PluginName *string
	pubAssetKind *string
	pypiClassifiers *string
	pypiDescription *string
	pypiKeywords *string
	pypiSummary *string
	rubygemsDescription *string
	rubygemsPlatform *string
	rubygemsSummary *string
	swiftScope *string
	swiftAssetKind *string
	tag *string
	terraformProvider *string
	terraformNamespace *string
	terraformName *string
	yumArchitecture *string
	yumName *string
}

// The query waits until the indexing is complete
func (r ApiDeleteTagsAssociateRequest) Wait(wait bool) ApiDeleteTagsAssociateRequest {
	r.wait = &wait
	return r
}

// Query by keyword
func (r ApiDeleteTagsAssociateRequest) Q(q string) ApiDeleteTagsAssociateRequest {
	r.q = &q
	return r
}

// Repository name
func (r ApiDeleteTagsAssociateRequest) Repository(repository string) ApiDeleteTagsAssociateRequest {
	r.repository = &repository
	return r
}

// Repository name
func (r ApiDeleteTagsAssociateRequest) RepositoryName(repositoryName string) ApiDeleteTagsAssociateRequest {
	r.repositoryName = &repositoryName
	return r
}

// Query by format
func (r ApiDeleteTagsAssociateRequest) Format(format string) ApiDeleteTagsAssociateRequest {
	r.format = &format
	return r
}

// Component group
func (r ApiDeleteTagsAssociateRequest) Group(group string) ApiDeleteTagsAssociateRequest {
	r.group = &group
	return r
}

// Component name
func (r ApiDeleteTagsAssociateRequest) Name(name string) ApiDeleteTagsAssociateRequest {
	r.name = &name
	return r
}

// Component version
func (r ApiDeleteTagsAssociateRequest) Version(version string) ApiDeleteTagsAssociateRequest {
	r.version = &version
	return r
}

// Prerelease version flag
func (r ApiDeleteTagsAssociateRequest) Prerelease(prerelease string) ApiDeleteTagsAssociateRequest {
	r.prerelease = &prerelease
	return r
}

// Asset last modified time
func (r ApiDeleteTagsAssociateRequest) LastUpdated(lastUpdated string) ApiDeleteTagsAssociateRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// Asset last modified time (UI)
func (r ApiDeleteTagsAssociateRequest) LastBlobUpdated(lastBlobUpdated string) ApiDeleteTagsAssociateRequest {
	r.lastBlobUpdated = &lastBlobUpdated
	return r
}

// Specific MD5 hash of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) Md5(md5 string) ApiDeleteTagsAssociateRequest {
	r.md5 = &md5
	return r
}

// Specific SHA-1 hash of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) Sha1(sha1 string) ApiDeleteTagsAssociateRequest {
	r.sha1 = &sha1
	return r
}

// Specific SHA-256 hash of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) Sha256(sha256 string) ApiDeleteTagsAssociateRequest {
	r.sha256 = &sha256
	return r
}

// Specific SHA-512 hash of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) Sha512(sha512 string) ApiDeleteTagsAssociateRequest {
	r.sha512 = &sha512
	return r
}

// ansible-galaxy namespace
func (r ApiDeleteTagsAssociateRequest) AnsibleGalaxyNamespace(ansibleGalaxyNamespace string) ApiDeleteTagsAssociateRequest {
	r.ansibleGalaxyNamespace = &ansibleGalaxyNamespace
	return r
}

// ansible-galaxy name
func (r ApiDeleteTagsAssociateRequest) AnsibleGalaxyName(ansibleGalaxyName string) ApiDeleteTagsAssociateRequest {
	r.ansibleGalaxyName = &ansibleGalaxyName
	return r
}

// ansible-galaxy version
func (r ApiDeleteTagsAssociateRequest) AnsibleGalaxyVersion(ansibleGalaxyVersion string) ApiDeleteTagsAssociateRequest {
	r.ansibleGalaxyVersion = &ansibleGalaxyVersion
	return r
}

// Vendor
func (r ApiDeleteTagsAssociateRequest) ComposerVendor(composerVendor string) ApiDeleteTagsAssociateRequest {
	r.composerVendor = &composerVendor
	return r
}

// Package
func (r ApiDeleteTagsAssociateRequest) ComposerPackage(composerPackage string) ApiDeleteTagsAssociateRequest {
	r.composerPackage = &composerPackage
	return r
}

// Version
func (r ApiDeleteTagsAssociateRequest) ComposerVersion(composerVersion string) ApiDeleteTagsAssociateRequest {
	r.composerVersion = &composerVersion
	return r
}

// Composer Description
func (r ApiDeleteTagsAssociateRequest) ComposerDescription(composerDescription string) ApiDeleteTagsAssociateRequest {
	r.composerDescription = &composerDescription
	return r
}

// Composer Keywords
func (r ApiDeleteTagsAssociateRequest) ComposerKeywords(composerKeywords string) ApiDeleteTagsAssociateRequest {
	r.composerKeywords = &composerKeywords
	return r
}

// Conan base version
func (r ApiDeleteTagsAssociateRequest) ConanBaseVersion(conanBaseVersion string) ApiDeleteTagsAssociateRequest {
	r.conanBaseVersion = &conanBaseVersion
	return r
}

// Conan channel
func (r ApiDeleteTagsAssociateRequest) ConanChannel(conanChannel string) ApiDeleteTagsAssociateRequest {
	r.conanChannel = &conanChannel
	return r
}

// Conan recipe revision
func (r ApiDeleteTagsAssociateRequest) ConanRevision(conanRevision string) ApiDeleteTagsAssociateRequest {
	r.conanRevision = &conanRevision
	return r
}

// Conan package id
func (r ApiDeleteTagsAssociateRequest) ConanPackageId(conanPackageId string) ApiDeleteTagsAssociateRequest {
	r.conanPackageId = &conanPackageId
	return r
}

// Conan package revision
func (r ApiDeleteTagsAssociateRequest) ConanPackageRevision(conanPackageRevision string) ApiDeleteTagsAssociateRequest {
	r.conanPackageRevision = &conanPackageRevision
	return r
}

// Docker image name
func (r ApiDeleteTagsAssociateRequest) DockerImageName(dockerImageName string) ApiDeleteTagsAssociateRequest {
	r.dockerImageName = &dockerImageName
	return r
}

// Docker image tag
func (r ApiDeleteTagsAssociateRequest) DockerImageTag(dockerImageTag string) ApiDeleteTagsAssociateRequest {
	r.dockerImageTag = &dockerImageTag
	return r
}

// Docker layer ID
func (r ApiDeleteTagsAssociateRequest) DockerLayerId(dockerLayerId string) ApiDeleteTagsAssociateRequest {
	r.dockerLayerId = &dockerLayerId
	return r
}

// Docker content digest
func (r ApiDeleteTagsAssociateRequest) DockerContentDigest(dockerContentDigest string) ApiDeleteTagsAssociateRequest {
	r.dockerContentDigest = &dockerContentDigest
	return r
}

// Docker image OS
func (r ApiDeleteTagsAssociateRequest) DockerOs(dockerOs string) ApiDeleteTagsAssociateRequest {
	r.dockerOs = &dockerOs
	return r
}

// Docker image architecture
func (r ApiDeleteTagsAssociateRequest) DockerArchitecture(dockerArchitecture string) ApiDeleteTagsAssociateRequest {
	r.dockerArchitecture = &dockerArchitecture
	return r
}

// Docker image labels
func (r ApiDeleteTagsAssociateRequest) DockerLabels(dockerLabels string) ApiDeleteTagsAssociateRequest {
	r.dockerLabels = &dockerLabels
	return r
}

// Docker image author
func (r ApiDeleteTagsAssociateRequest) DockerAuthor(dockerAuthor string) ApiDeleteTagsAssociateRequest {
	r.dockerAuthor = &dockerAuthor
	return r
}

// Maven groupId
func (r ApiDeleteTagsAssociateRequest) MavenGroupId(mavenGroupId string) ApiDeleteTagsAssociateRequest {
	r.mavenGroupId = &mavenGroupId
	return r
}

// Maven artifactId
func (r ApiDeleteTagsAssociateRequest) MavenArtifactId(mavenArtifactId string) ApiDeleteTagsAssociateRequest {
	r.mavenArtifactId = &mavenArtifactId
	return r
}

// Maven base version
func (r ApiDeleteTagsAssociateRequest) MavenBaseVersion(mavenBaseVersion string) ApiDeleteTagsAssociateRequest {
	r.mavenBaseVersion = &mavenBaseVersion
	return r
}

// Maven extension of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) MavenExtension(mavenExtension string) ApiDeleteTagsAssociateRequest {
	r.mavenExtension = &mavenExtension
	return r
}

// Maven classifier of component&#39;s asset
func (r ApiDeleteTagsAssociateRequest) MavenClassifier(mavenClassifier string) ApiDeleteTagsAssociateRequest {
	r.mavenClassifier = &mavenClassifier
	return r
}

// Group asset version extension classifier
func (r ApiDeleteTagsAssociateRequest) Gavec(gavec string) ApiDeleteTagsAssociateRequest {
	r.gavec = &gavec
	return r
}

// npm scope
func (r ApiDeleteTagsAssociateRequest) NpmScope(npmScope string) ApiDeleteTagsAssociateRequest {
	r.npmScope = &npmScope
	return r
}

// npm author
func (r ApiDeleteTagsAssociateRequest) NpmAuthor(npmAuthor string) ApiDeleteTagsAssociateRequest {
	r.npmAuthor = &npmAuthor
	return r
}

// npm description
func (r ApiDeleteTagsAssociateRequest) NpmDescription(npmDescription string) ApiDeleteTagsAssociateRequest {
	r.npmDescription = &npmDescription
	return r
}

// npm keywords
func (r ApiDeleteTagsAssociateRequest) NpmKeywords(npmKeywords string) ApiDeleteTagsAssociateRequest {
	r.npmKeywords = &npmKeywords
	return r
}

// npm license
func (r ApiDeleteTagsAssociateRequest) NpmLicense(npmLicense string) ApiDeleteTagsAssociateRequest {
	r.npmLicense = &npmLicense
	return r
}

// npm tagged is
func (r ApiDeleteTagsAssociateRequest) NpmTaggedIs(npmTaggedIs string) ApiDeleteTagsAssociateRequest {
	r.npmTaggedIs = &npmTaggedIs
	return r
}

// npm tagged not
func (r ApiDeleteTagsAssociateRequest) NpmTaggedNot(npmTaggedNot string) ApiDeleteTagsAssociateRequest {
	r.npmTaggedNot = &npmTaggedNot
	return r
}

// NuGet id
func (r ApiDeleteTagsAssociateRequest) NugetId(nugetId string) ApiDeleteTagsAssociateRequest {
	r.nugetId = &nugetId
	return r
}

// NuGet tags
func (r ApiDeleteTagsAssociateRequest) NugetTags(nugetTags string) ApiDeleteTagsAssociateRequest {
	r.nugetTags = &nugetTags
	return r
}

// NuGet title
func (r ApiDeleteTagsAssociateRequest) NugetTitle(nugetTitle string) ApiDeleteTagsAssociateRequest {
	r.nugetTitle = &nugetTitle
	return r
}

// NuGet authors
func (r ApiDeleteTagsAssociateRequest) NugetAuthors(nugetAuthors string) ApiDeleteTagsAssociateRequest {
	r.nugetAuthors = &nugetAuthors
	return r
}

// NuGet description
func (r ApiDeleteTagsAssociateRequest) NugetDescription(nugetDescription string) ApiDeleteTagsAssociateRequest {
	r.nugetDescription = &nugetDescription
	return r
}

// NuGet summary
func (r ApiDeleteTagsAssociateRequest) NugetSummary(nugetSummary string) ApiDeleteTagsAssociateRequest {
	r.nugetSummary = &nugetSummary
	return r
}

// NuGet prerelease
func (r ApiDeleteTagsAssociateRequest) NugetIsPrerelease(nugetIsPrerelease string) ApiDeleteTagsAssociateRequest {
	r.nugetIsPrerelease = &nugetIsPrerelease
	return r
}

// OCI image name
func (r ApiDeleteTagsAssociateRequest) OciImageName(ociImageName string) ApiDeleteTagsAssociateRequest {
	r.ociImageName = &ociImageName
	return r
}

// OCI image tag
func (r ApiDeleteTagsAssociateRequest) OciImageTag(ociImageTag string) ApiDeleteTagsAssociateRequest {
	r.ociImageTag = &ociImageTag
	return r
}

// OCI content digest
func (r ApiDeleteTagsAssociateRequest) OciContentDigest(ociContentDigest string) ApiDeleteTagsAssociateRequest {
	r.ociContentDigest = &ociContentDigest
	return r
}

// p2 plugin name
func (r ApiDeleteTagsAssociateRequest) P2PluginName(p2PluginName string) ApiDeleteTagsAssociateRequest {
	r.p2PluginName = &p2PluginName
	return r
}

// Pub asset kind (PACKAGE, PACKAGE_METADATA, VERSION_METADATA, ADVISORIES)
func (r ApiDeleteTagsAssociateRequest) PubAssetKind(pubAssetKind string) ApiDeleteTagsAssociateRequest {
	r.pubAssetKind = &pubAssetKind
	return r
}

// PyPI classifiers
func (r ApiDeleteTagsAssociateRequest) PypiClassifiers(pypiClassifiers string) ApiDeleteTagsAssociateRequest {
	r.pypiClassifiers = &pypiClassifiers
	return r
}

// PyPI description
func (r ApiDeleteTagsAssociateRequest) PypiDescription(pypiDescription string) ApiDeleteTagsAssociateRequest {
	r.pypiDescription = &pypiDescription
	return r
}

// PyPI keywords
func (r ApiDeleteTagsAssociateRequest) PypiKeywords(pypiKeywords string) ApiDeleteTagsAssociateRequest {
	r.pypiKeywords = &pypiKeywords
	return r
}

// PyPI summary
func (r ApiDeleteTagsAssociateRequest) PypiSummary(pypiSummary string) ApiDeleteTagsAssociateRequest {
	r.pypiSummary = &pypiSummary
	return r
}

// RubyGems description
func (r ApiDeleteTagsAssociateRequest) RubygemsDescription(rubygemsDescription string) ApiDeleteTagsAssociateRequest {
	r.rubygemsDescription = &rubygemsDescription
	return r
}

// RubyGems platform
func (r ApiDeleteTagsAssociateRequest) RubygemsPlatform(rubygemsPlatform string) ApiDeleteTagsAssociateRequest {
	r.rubygemsPlatform = &rubygemsPlatform
	return r
}

// RubyGems summary
func (r ApiDeleteTagsAssociateRequest) RubygemsSummary(rubygemsSummary string) ApiDeleteTagsAssociateRequest {
	r.rubygemsSummary = &rubygemsSummary
	return r
}

// swift scope
func (r ApiDeleteTagsAssociateRequest) SwiftScope(swiftScope string) ApiDeleteTagsAssociateRequest {
	r.swiftScope = &swiftScope
	return r
}

// swift asset kind
func (r ApiDeleteTagsAssociateRequest) SwiftAssetKind(swiftAssetKind string) ApiDeleteTagsAssociateRequest {
	r.swiftAssetKind = &swiftAssetKind
	return r
}

// Component tag
func (r ApiDeleteTagsAssociateRequest) Tag(tag string) ApiDeleteTagsAssociateRequest {
	r.tag = &tag
	return r
}

// terraform provider
func (r ApiDeleteTagsAssociateRequest) TerraformProvider(terraformProvider string) ApiDeleteTagsAssociateRequest {
	r.terraformProvider = &terraformProvider
	return r
}

// terraform namespace
func (r ApiDeleteTagsAssociateRequest) TerraformNamespace(terraformNamespace string) ApiDeleteTagsAssociateRequest {
	r.terraformNamespace = &terraformNamespace
	return r
}

// terraform name
func (r ApiDeleteTagsAssociateRequest) TerraformName(terraformName string) ApiDeleteTagsAssociateRequest {
	r.terraformName = &terraformName
	return r
}

// Yum architecture
func (r ApiDeleteTagsAssociateRequest) YumArchitecture(yumArchitecture string) ApiDeleteTagsAssociateRequest {
	r.yumArchitecture = &yumArchitecture
	return r
}

// Yum package name
func (r ApiDeleteTagsAssociateRequest) YumName(yumName string) ApiDeleteTagsAssociateRequest {
	r.yumName = &yumName
	return r
}

func (r ApiDeleteTagsAssociateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTagsAssociateExecute(r)
}

/*
DeleteTagsAssociate Disassociate components from a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tagName Tag to associate to the matched components
 @return ApiDeleteTagsAssociateRequest
*/
func (a *TagsAPIService) DeleteTagsAssociate(ctx context.Context, tagName string) ApiDeleteTagsAssociateRequest {
	return ApiDeleteTagsAssociateRequest{
		ApiService: a,
		ctx: ctx,
		tagName: tagName,
	}
}

// Execute executes the request
func (a *TagsAPIService) DeleteTagsAssociateExecute(r ApiDeleteTagsAssociateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.DeleteTagsAssociate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags/associate/{tagName}"
	localVarPath = strings.Replace(localVarPath, "{"+"tagName"+"}", url.PathEscape(parameterValueToString(r.tagName, "tagName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.wait != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wait", r.wait, "form", "")
	} else {
		var defaultValue bool = true
		r.wait = &defaultValue
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repositoryName", r.repositoryName, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.prerelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prerelease", r.prerelease, "form", "")
	}
	if r.lastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_updated", r.lastUpdated, "form", "")
	}
	if r.lastBlobUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastBlobUpdated", r.lastBlobUpdated, "form", "")
	}
	if r.md5 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "md5", r.md5, "form", "")
	}
	if r.sha1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha1", r.sha1, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.sha512 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha512", r.sha512, "form", "")
	}
	if r.ansibleGalaxyNamespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.namespace", r.ansibleGalaxyNamespace, "form", "")
	}
	if r.ansibleGalaxyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.name", r.ansibleGalaxyName, "form", "")
	}
	if r.ansibleGalaxyVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ansible-galaxy.version", r.ansibleGalaxyVersion, "form", "")
	}
	if r.composerVendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.vendor", r.composerVendor, "form", "")
	}
	if r.composerPackage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.package", r.composerPackage, "form", "")
	}
	if r.composerVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.version", r.composerVersion, "form", "")
	}
	if r.composerDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.description", r.composerDescription, "form", "")
	}
	if r.composerKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "composer.keywords", r.composerKeywords, "form", "")
	}
	if r.conanBaseVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.baseVersion", r.conanBaseVersion, "form", "")
	}
	if r.conanChannel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.channel", r.conanChannel, "form", "")
	}
	if r.conanRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.revision", r.conanRevision, "form", "")
	}
	if r.conanPackageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.packageId", r.conanPackageId, "form", "")
	}
	if r.conanPackageRevision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conan.packageRevision", r.conanPackageRevision, "form", "")
	}
	if r.dockerImageName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.imageName", r.dockerImageName, "form", "")
	}
	if r.dockerImageTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.imageTag", r.dockerImageTag, "form", "")
	}
	if r.dockerLayerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.layerId", r.dockerLayerId, "form", "")
	}
	if r.dockerContentDigest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.contentDigest", r.dockerContentDigest, "form", "")
	}
	if r.dockerOs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.os", r.dockerOs, "form", "")
	}
	if r.dockerArchitecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.architecture", r.dockerArchitecture, "form", "")
	}
	if r.dockerLabels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.labels", r.dockerLabels, "form", "")
	}
	if r.dockerAuthor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "docker.author", r.dockerAuthor, "form", "")
	}
	if r.mavenGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.groupId", r.mavenGroupId, "form", "")
	}
	if r.mavenArtifactId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.artifactId", r.mavenArtifactId, "form", "")
	}
	if r.mavenBaseVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.baseVersion", r.mavenBaseVersion, "form", "")
	}
	if r.mavenExtension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.extension", r.mavenExtension, "form", "")
	}
	if r.mavenClassifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maven.classifier", r.mavenClassifier, "form", "")
	}
	if r.gavec != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gavec", r.gavec, "form", "")
	}
	if r.npmScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.scope", r.npmScope, "form", "")
	}
	if r.npmAuthor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.author", r.npmAuthor, "form", "")
	}
	if r.npmDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.description", r.npmDescription, "form", "")
	}
	if r.npmKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.keywords", r.npmKeywords, "form", "")
	}
	if r.npmLicense != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.license", r.npmLicense, "form", "")
	}
	if r.npmTaggedIs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.tagged_is", r.npmTaggedIs, "form", "")
	}
	if r.npmTaggedNot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "npm.tagged_not", r.npmTaggedNot, "form", "")
	}
	if r.nugetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.id", r.nugetId, "form", "")
	}
	if r.nugetTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.tags", r.nugetTags, "form", "")
	}
	if r.nugetTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.title", r.nugetTitle, "form", "")
	}
	if r.nugetAuthors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.authors", r.nugetAuthors, "form", "")
	}
	if r.nugetDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.description", r.nugetDescription, "form", "")
	}
	if r.nugetSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.summary", r.nugetSummary, "form", "")
	}
	if r.nugetIsPrerelease != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nuget.is_prerelease", r.nugetIsPrerelease, "form", "")
	}
	if r.ociImageName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.imageName", r.ociImageName, "form", "")
	}
	if r.ociImageTag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.imageTag", r.ociImageTag, "form", "")
	}
	if r.ociContentDigest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oci.contentDigest", r.ociContentDigest, "form", "")
	}
	if r.p2PluginName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "p2.pluginName", r.p2PluginName, "form", "")
	}
	if r.pubAssetKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pub.asset_kind", r.pubAssetKind, "form", "")
	}
	if r.pypiClassifiers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.classifiers", r.pypiClassifiers, "form", "")
	}
	if r.pypiDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.description", r.pypiDescription, "form", "")
	}
	if r.pypiKeywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.keywords", r.pypiKeywords, "form", "")
	}
	if r.pypiSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pypi.summary", r.pypiSummary, "form", "")
	}
	if r.rubygemsDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.description", r.rubygemsDescription, "form", "")
	}
	if r.rubygemsPlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.platform", r.rubygemsPlatform, "form", "")
	}
	if r.rubygemsSummary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rubygems.summary", r.rubygemsSummary, "form", "")
	}
	if r.swiftScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swift.scope", r.swiftScope, "form", "")
	}
	if r.swiftAssetKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swift.asset_kind", r.swiftAssetKind, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.terraformProvider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.provider", r.terraformProvider, "form", "")
	}
	if r.terraformNamespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.namespace", r.terraformNamespace, "form", "")
	}
	if r.terraformName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terraform.name", r.terraformName, "form", "")
	}
	if r.yumArchitecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "yum.architecture", r.yumArchitecture, "form", "")
	}
	if r.yumName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "yum.name", r.yumName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetTagsRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	name string
}

func (r ApiGetTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetTagsExecute(r)
}

/*
GetTags Get a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Name of the tag to retrieve
 @return ApiGetTagsRequest
*/
func (a *TagsAPIService) GetTags(ctx context.Context, name string) ApiGetTagsRequest {
	return ApiGetTagsRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
func (a *TagsAPIService) GetTagsExecute(r ApiGetTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.GetTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListTagsRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	continuationToken *string
}

// A token returned by a prior request. If present, the next page of results are returned
func (r ApiListTagsRequest) ContinuationToken(continuationToken string) ApiListTagsRequest {
	r.continuationToken = &continuationToken
	return r
}

func (r ApiListTagsRequest) Execute() (*PageTagXO, *http.Response, error) {
	return r.ApiService.ListTagsExecute(r)
}

/*
ListTags List tags

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTagsRequest
*/
func (a *TagsAPIService) ListTags(ctx context.Context) ApiListTagsRequest {
	return ApiListTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PageTagXO
func (a *TagsAPIService) ListTagsExecute(r ApiListTagsRequest) (*PageTagXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageTagXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.ListTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuationToken", r.continuationToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PageTagXO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTagsRequest struct {
	ctx context.Context
	ApiService *TagsAPIService
	name string
	baseTagXO *BaseTagXO
}

func (r ApiUpdateTagsRequest) BaseTagXO(baseTagXO BaseTagXO) ApiUpdateTagsRequest {
	r.baseTagXO = &baseTagXO
	return r
}

func (r ApiUpdateTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateTagsExecute(r)
}

/*
UpdateTags Update a tags attributes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiUpdateTagsRequest
*/
func (a *TagsAPIService) UpdateTags(ctx context.Context, name string) ApiUpdateTagsRequest {
	return ApiUpdateTagsRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
func (a *TagsAPIService) UpdateTagsExecute(r ApiUpdateTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TagsAPIService.UpdateTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/tags/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.baseTagXO == nil {
		return nil, reportError("baseTagXO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.baseTagXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
