/*
Sonatype Nexus Repository Manager

This documents the available APIs into [Sonatype Nexus Repository Manager](https://www.sonatype.com/products/sonatype-nexus-repository) as of version 3.94.0-12.

API version: 3.94.0-12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CleanupPoliciesAPIService CleanupPoliciesAPI service
type CleanupPoliciesAPIService service

type ApiCreateCleanupRunRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	cleanupExecutionRequestXO *CleanupExecutionRequestXO
}

func (r ApiCreateCleanupRunRequest) CleanupExecutionRequestXO(cleanupExecutionRequestXO CleanupExecutionRequestXO) ApiCreateCleanupRunRequest {
	r.cleanupExecutionRequestXO = &cleanupExecutionRequestXO
	return r
}

func (r ApiCreateCleanupRunRequest) Execute() (*CleanupExecutionStatusXO, *http.Response, error) {
	return r.ApiService.CreateCleanupRunExecute(r)
}

/*
CreateCleanupRun Run cleanup on a repository (dry run or async execution)

Runs cleanup on the specified `repository` against the policies attached to it. Behavior depends on the `dryRun` flag in the request body:

- `dryRun: true` — Synchronously evaluates the policies and returns **200 OK** with a `CleanupExecutionStatusXO` whose `componentCount` is the number of components that *would* be deleted. No components are removed.
- `dryRun: false` — Schedules an asynchronous deletion and returns **202 Accepted** immediately with a `CleanupExecutionStatusXO` containing the generated execution `id` and `status=RUNNING`. Poll `GET /service/rest/v1/cleanup/run/{id}` to observe the terminal `COMPLETED` or `FAILED` state and the final `componentsDeleted` count. Execution records are retained for 24 hours.

At most one non-dry-run cleanup may be `RUNNING` per repository. A second non-dry-run submitted while one is in progress is rejected with **409 Conflict** and the body of the existing execution's status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCleanupRunRequest
*/
func (a *CleanupPoliciesAPIService) CreateCleanupRun(ctx context.Context) ApiCreateCleanupRunRequest {
	return ApiCreateCleanupRunRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CleanupExecutionStatusXO
func (a *CleanupPoliciesAPIService) CreateCleanupRunExecute(r ApiCreateCleanupRunRequest) (*CleanupExecutionStatusXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CleanupExecutionStatusXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.CreateCleanupRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/cleanup/run"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cleanupExecutionRequestXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v CleanupExecutionStatusXO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateInternalCleanupPoliciesRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	cleanupPolicyXO *CleanupPolicyXO
}

func (r ApiCreateInternalCleanupPoliciesRequest) CleanupPolicyXO(cleanupPolicyXO CleanupPolicyXO) ApiCreateInternalCleanupPoliciesRequest {
	r.cleanupPolicyXO = &cleanupPolicyXO
	return r
}

func (r ApiCreateInternalCleanupPoliciesRequest) Execute() (*CleanupPolicyXO, *http.Response, error) {
	return r.ApiService.CreateInternalCleanupPoliciesExecute(r)
}

/*
CreateInternalCleanupPolicies Create a cleanup policy

Creates a new cleanup policy with the supplied name, format, and criteria. The policy name must be unique. At least one criterion (`criteriaLastBlobUpdated`, `criteriaLastDownloaded`, or `criteriaAssetRegex`) is required. Only criteria supported by the selected format are accepted; unsupported criteria are rejected. The created policy is returned with an `inUseCount` of 0.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateInternalCleanupPoliciesRequest
*/
func (a *CleanupPoliciesAPIService) CreateInternalCleanupPolicies(ctx context.Context) ApiCreateInternalCleanupPoliciesRequest {
	return ApiCreateInternalCleanupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CleanupPolicyXO
func (a *CleanupPoliciesAPIService) CreateInternalCleanupPoliciesExecute(r ApiCreateInternalCleanupPoliciesRequest) (*CleanupPolicyXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CleanupPolicyXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.CreateInternalCleanupPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/cleanup-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cleanupPolicyXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteInternalCleanupPoliciesRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	name string
}

func (r ApiDeleteInternalCleanupPoliciesRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteInternalCleanupPoliciesExecute(r)
}

/*
DeleteInternalCleanupPolicies Method for DeleteInternalCleanupPolicies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiDeleteInternalCleanupPoliciesRequest
*/
func (a *CleanupPoliciesAPIService) DeleteInternalCleanupPolicies(ctx context.Context, name string) ApiDeleteInternalCleanupPoliciesRequest {
	return ApiDeleteInternalCleanupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
func (a *CleanupPoliciesAPIService) DeleteInternalCleanupPoliciesExecute(r ApiDeleteInternalCleanupPoliciesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.DeleteInternalCleanupPolicies")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/cleanup-policies/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetInternalCleanupPoliciesRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	name string
}

func (r ApiGetInternalCleanupPoliciesRequest) Execute() (*CleanupPolicyXO, *http.Response, error) {
	return r.ApiService.GetInternalCleanupPoliciesExecute(r)
}

/*
GetInternalCleanupPolicies Method for GetInternalCleanupPolicies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiGetInternalCleanupPoliciesRequest
*/
func (a *CleanupPoliciesAPIService) GetInternalCleanupPolicies(ctx context.Context, name string) ApiGetInternalCleanupPoliciesRequest {
	return ApiGetInternalCleanupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return CleanupPolicyXO
func (a *CleanupPoliciesAPIService) GetInternalCleanupPoliciesExecute(r ApiGetInternalCleanupPoliciesRequest) (*CleanupPolicyXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CleanupPolicyXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.GetInternalCleanupPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/cleanup-policies/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v CleanupPolicyXO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListInternalCleanupPoliciesRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	format *string
}

func (r ApiListInternalCleanupPoliciesRequest) Format(format string) ApiListInternalCleanupPoliciesRequest {
	r.format = &format
	return r
}

func (r ApiListInternalCleanupPoliciesRequest) Execute() ([]CleanupPolicyXO, *http.Response, error) {
	return r.ApiService.ListInternalCleanupPoliciesExecute(r)
}

/*
ListInternalCleanupPolicies List cleanup policies

Returns all configured cleanup policies sorted by name. Pass the optional `format` query parameter to return only policies for that format (e.g. `maven2`, `npm`, `docker`); omit it or pass `*` to return policies across all formats. Each entry includes the policy definition and the number of repositories currently using it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListInternalCleanupPoliciesRequest
*/
func (a *CleanupPoliciesAPIService) ListInternalCleanupPolicies(ctx context.Context) ApiListInternalCleanupPoliciesRequest {
	return ApiListInternalCleanupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CleanupPolicyXO
func (a *CleanupPoliciesAPIService) ListInternalCleanupPoliciesExecute(r ApiListInternalCleanupPoliciesRequest) ([]CleanupPolicyXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CleanupPolicyXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.ListInternalCleanupPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/cleanup-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateInternalCleanupPoliciesRequest struct {
	ctx context.Context
	ApiService *CleanupPoliciesAPIService
	name string
	cleanupPolicyXO *CleanupPolicyXO
}

func (r ApiUpdateInternalCleanupPoliciesRequest) CleanupPolicyXO(cleanupPolicyXO CleanupPolicyXO) ApiUpdateInternalCleanupPoliciesRequest {
	r.cleanupPolicyXO = &cleanupPolicyXO
	return r
}

func (r ApiUpdateInternalCleanupPoliciesRequest) Execute() (*CleanupPolicyXO, *http.Response, error) {
	return r.ApiService.UpdateInternalCleanupPoliciesExecute(r)
}

/*
UpdateInternalCleanupPolicies Method for UpdateInternalCleanupPolicies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiUpdateInternalCleanupPoliciesRequest
*/
func (a *CleanupPoliciesAPIService) UpdateInternalCleanupPolicies(ctx context.Context, name string) ApiUpdateInternalCleanupPoliciesRequest {
	return ApiUpdateInternalCleanupPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return CleanupPolicyXO
func (a *CleanupPoliciesAPIService) UpdateInternalCleanupPoliciesExecute(r ApiUpdateInternalCleanupPoliciesRequest) (*CleanupPolicyXO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CleanupPolicyXO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CleanupPoliciesAPIService.UpdateInternalCleanupPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/cleanup-policies/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cleanupPolicyXO == nil {
		return localVarReturnValue, nil, reportError("cleanupPolicyXO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cleanupPolicyXO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v CleanupPolicyXO
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
